
{% extends "blog/base.html" %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
                            


{% block content %}
<h1>Smart Skeleton</h1>

<h2>Presentation</h2>

<p>
<p>Aujourd’hui...</p>
Des chercheurs dévoilent une nouvelle génération de prothèses artificielles qui permettent aux paralysés de membres de pouvoir retrouver une mobilité avec davantage d’autonomie et de fluidité. 
Cette innovation repose sur un nouveau type de prothèses, et d’orthèses actives, c’est-à-dire un exosquelette qui permet un mouvement moins pénible aux patients.
</p>
{% endblock %}

